<div class="center">
  <h1>{{title}} <small>(most recent)</small></h1>
  	<ul class="special">
  		<li ng-repeat="score in scores | orderBy:'totalScore':true | limitTo: 10">
  			<h4>Level: {{ score.level }} </h4><h4>&nbsp; Time: {{ score.time }} seconds</h4>
  			<h3>Total: {{  score.totalScore }}</h3>
  			<hr>
  		</li>
  	</ul>
</div>
