<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">Home</a>
    </div>
    <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="game">New Game</a></li>
        <li ui-sref-active="active"><a ui-sref="scores">Scores</a></li>
        <li ui-sref-active="active"><a ui-sref="about">Credits</a></li>
    </ul>
</nav>