<div class="row">
	<div id="form" class="form col-2">
			<div class="page-header no-margin">
				<h1>Mini-Game <small> press start to begin </small> </h1>
				<button class="btn btn-primary" ng-click="initializeGame()">Start Game</button>
			</div>
			<div id="game-over" ng-if="gameOver">
				<div>
					<h2>Game Over</h2>
					<div class="blurb">
						<p>Score: {{totalScore}}</p>
						<button class="btn btn-primary" id="special" ng-click="initializeGame()">Play Again</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="score">Score: {{score}}</div>
<canvas id="canvas" height="600" width="760">Canvas is not supported</canvas>
