* {
	padding: 0;
	margin: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar { 
    border-radius:0;
    margin-bottom: 0;
}

.jumbotron {
  height: 250px;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.active {
    background-color: blue;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.5); /*dim the background*/
}

#message {
  /* margin-top: 40px; */
  position: absolute;
  top: 217px;
  left: 118px;
  height: 235px;
  width: 517px;
  padding: 20px;
  text-align: center;
  font-size: 26px;
  color: black;
  z-index: 100;
  background-color: rgba(255, 255, 255,.75);
  border-radius: 8px;
}

.center {
  text-align: center;
  margin: 0 auto;
  width: 380px;
}

  .center p {
    display: inline-block;
  }

#canvas {
	position: absolute;
  margin-bottom: 40px;
  background: url('/img/Background.png') no-repeat;
  background-size: contain;
  /*z-index: 1;*/
}

#player {
	position: absolute;
  /*z-index: 3;*/
}

#canvasLevel {
  position: absolute;
  /*z-index: 2;*/
}

#score {
  position: absolute;
  top: 17px;
  right: 10%;
  color: gray;
}

#lives {
  position: absolute;
  top: 17px;
  right: 20%;
  color: white;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  z-index: 100;
}

.form input {
  margin-bottom: 10px;
}

#game-over {
  position: absolute;
  z-index: 10;
  background: rgba(255,255,255,.8);
  width: 717px;
  left: 91px;
  height: 536px;
  top: 187px;
  border-radius: 10px;
  /*display: none;*/
}

  #game-over h2 {
    font-size: 50px;
    color: black;
    margin-left: 226px;
  }

  #game-over p {
    font-size: 35px;
    margin: 40px 0 20px 78px;
  }

  #game-over #special {
    margin: 55px;
    width: 180px;
  }

.blurb {
  height: 300px;
  width: 300px;
  background: white;
  border: 2px solid black;
  position: relative;
  margin: 70px auto;
}

.no-margin {
  margin: 0 !important;
}

.special {

}
  .special li {
    list-style-type: none;
  }

  .special h4 {
    display: inline-block;
  }