<h1>{{title}}</h1>
<div class="center">
  <h1>{{title}}</h1>
  <div>
  	<h4>Level 1: </h4><p> {{ score.time }}</p>
  	<h4>Level 2:</h4> <p> {{ score.level }}</p>
  	<h4>Level 3:</h4> <p> {{ score.totalScore }}</p>
  	<h4>Level 4:</h4>
  	<h4>Level 5:</h4>
  </div>
</div>